<% include partials/header %>

<div id="main">
    <h1>Edit your post</h1>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <img src="../..<%= post.imgPath%>">
    <form action="/posts/<%= post.id %>?_method=PUT" method="post">
        <input type="text" name="post[title]" value="<%= post.title %>" placeholder="Title">
        <textarea type="textarea" name="post[description]" placeholder="Description" rows="8" cols="80"><%= post.description %></textarea>
        <button>Update Post</button>
    </form>

</div>

<% include partials/footer %>
