<% include partials/header %>

<div id="main">
    <h1>Edit your post</h1>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <img src="../..<%= post.imgPath%>">
    <form action="/posts/<%= post.id %>?_method=PUT" method="post">
        <input type="text" name="post[title]" value="<%= post.title %>" placeholder="Title">
        <input type="text" name="post[description]" value="<%= post.description%>" placeholder="Content">
        <button type="submit">Update Post</button>
    </form>

</div>

<% include partials/footer %>
