<% include partials/header %>

  <link rel="stylesheet" href="/css/posts.css" type="text/css">

  <div id="main">
    <a href="./posts/new"><img id="upload" src="/css/res/upload.png"></a>
    <!--<%= typeof err != 'undefined' ? err : '' %> -->
    <div id="grid">
      <div class="row">

        <% posts.forEach(function (post) { %>
          <% if (post.imgPath != undefined) { %>

<<<<<<< HEAD
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="zoom">
                <h3><%=post.title%></h3>
                <div class="data" data-test-value='<%= JSON.stringify(post) %>'></div>
                <a href="./posts/<%= post._id %>"><img id="image" class="" src="..<%= post.imgPath%>"></a>
              </div>
              <% if (typeof user== 'undefined') { %>
                <form action="./login">
                  <button class="not-liked" id="not-liked"></button>
                </form>
                <% } else if (!post.likes.liker.some(function (el) { return el.equals(user._id)})) { %>
                  <button class="not-liked" id="like"></button>
                  <% } else { %>
                    <button class="liked" id="like"></button>
                    <% } %>
                      <a href="./posts/<%= post._id %>"><img id="read-more" src="/css/res/read-more.png"></a>
                      <span id="poster">By:&nbsp;<%= post.author.username %></span>
                      <p id="likeCount">Likes: <span><%= post.likes.total%></span></p>
                      <p id="description">
                        <%= post.description.substring(0, 100) %>
                          <%= post.description.length > 100 ? '...' : ''%>
                      </p>
            </div>
            <% } %>
              <% }); %>
      </div>
=======
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="zoom">
                        <h3><%=post.title%></h3>
                        <div class="data" data-test-value='<%= JSON.stringify(post) %>'></div>
                        <a href="./posts/<%= post._id %>"><img id="image" class="" src="..<%= post.imgPath%>"></a>
                    </div>
                        <% if (typeof user== 'undefined') { %>
                            <form action="./login">
                                <button class="not-liked" id="not-liked"></button>
                            </form>
                        <% } else if (!post.likes.liker.some(function (el) { return el.equals(user._id)})) { %>
                                <button class="not-liked" id="like"></button>
                        <% } else { %>
                                <button class="liked" id="like"></button>
                        <% } %>
                        <p id="likeCount">Likes: <span><%= post.likes.total%></span></p>
                        <a href="./posts/<%= post._id %>"><img id="read-more" src="/css/res/read-more.png"></a>
                         <span id="poster">By:&nbsp;<%= post.author.username %></span>
                        <p id="description"><%= post.description.substring(0, 100) %><%= post.description.length > 100 ? '...' : ''%></p>
                        </div>
                <% } %>
            <% }); %>
        </div>
>>>>>>> 64569a60b5f427f5a4b92604ca0a8eb3dbc6b4d1
    </div>
  </div>
  <script type="text/javascript" src="/javascript/posts.js"></script>
  <% include partials/footer %>
