<% include partials/header %>

    <link rel="stylesheet" href="/css/specificPost.css" type="text/css">

    <div id="main">
         <div class="data" data-test-value='<%= JSON.stringify(post) %>'></div>
        <a href="/posts">BACK TO TOP POSTS</a>
        <%= typeof msg != 'undefined' ? msg : '' %>
        <h3><%=post.title%></h3>
        <img src="../..<%= post.imgPath%>">
        <p><%= post.description %></p>
        <% if (typeof user== 'undefined') { %>
            <p>ELSE</p>
            <form action="../login">
              <button id="like">Like</button>
            </form>
        <% } else if (!post.likes.liker.some(function (el) { return el.equals(user._id)})) { %>
          <p>IF</p>
          <button id="like">Like</button>
        <% } else { %>
          <p>ELSE</p>
          <button class="liked" id="like">Like</button>
        <% } %>

        <% if(typeof currentUser != 'undefined' && post.author.username == currentUser.username) { %>
            <a href="/posts/<%= post._id%>/edit">EDIT</a>
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE</button>
            </form>
        <% } %>
        <% if (typeof currentUser != 'undefined') { %>
            <div class="addComment">
                <h4>Add a comment below:</h4>
                <form action="/posts/<%= post._id %>/comments" method="POST">
                    <input type="text" name="title" placeholder="Title">
                    <br>
                    <textarea type="textarea" name="content" placeholder="Content" rows="4" cols="80"></textarea>
                    <br>
                    <button>Submit!</button>
                </form>
            </div>
        <% } %>
        <h4>Comments:</h4>
        <% if(typeof comments != 'undefined' && comments[0] != null) { %>
            <ul>
            <% comments.forEach(function(comment) { %>
                <div class="comment">
                    <li>
                        <p><strong><%= comment.author.username %></strong> - <%= comment.timeStamp %><p>
                        <p><%= comment.content %><p>
                        <hr>
                    </li>
                </div>
            <% }); %>
            </ul>
        <% } else {%>
            <p>No comments yet... Be the first!</p>
            <% if(typeof currentUser == 'undefined') { %>
                <a href="./new">Log in to comment!</a>
            <% } %>
        <% } %>
    </div>
 <script type="text/javascript" src="/javascript/specificPost.js"></script>
<% include partials/footer %>
